streamlit
langchain
langchain-community
langchain-huggingface
langchain-cohere
langchain-google-genai
faiss-gpu
PyPDF2
python-dotenv
torch
transformers
rank_bm25
sentence-transformers
langchain-core
python-docx
ollama
google-generativeai
